<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="{{ page.keywords | join:', ' | escape }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" href="//img.thindeck.com/logo-128x128.png">
    <link rel="shortcut icon" href="//img.thindeck.com/logo-128x128.png" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://doc.thindeck.com/rss.xml"/>
    <link rel="author" href="//plus.google.com/u/0/114792568016408327418?rel=author" />
    <link rel="stylesheet" href="/css/layout.css?{{ site.data['hash'] }}"/>
    <link rel="canonical" href="//doc.thindeck.com{{ page.url }}" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <p>
          <a href="/">
            <img src="//img.thindeck.com/logo.svg" class="logo" alt="logo"/>
          </a>
        </p>
        <p>
          <a href="http://www.teamed.io">
            <img src="//img.teamed.io/btn.svg" alt="made by teamed.io"/>
          </a>
          <a href="http://www.rultor.com/p/yegor256/thindeck">
            <img src="//img.rultor.com/b/yegor256/thinkdeck" alt="devops by rultor.com"/>
          </a>
        </p>
        <p>
          Last update on {{ page.date | date: "%-d %B %Y" }}
        </p>
        <p>
          Author(s): {{ page.authors | join:', ' }}
        </p>
      </header>
      <h1>{{ page.title }}</h1>
      <div role="main">{{ content }}</div>
      <footer class="footer">
        <p>
          &copy; <span itemprop="author">thindeck.com</span>, 2014
        </p>
      </footer>
    </div>
  </body>
</html>
