body {
  background-color: #f0f0f7;
}

* {
  font-family: monospace;
}

aside {
  font-size: 0.75em;
  line-height: 1em;
  position: fixed;
  right: 0;
  padding: 4px 0.8em;
  color: gray;
  span,
  a {
    font-size: 1em;
    line-height: 1em;
  }
  span {
    margin-right: .5em;
    &:last-child {
      margin-right: 0;
    }
  }
  &.version {
    bottom: 0;
    background-color: #eee;
  }
  &.alpha {
    bottom: 2em;
    color: red;
    background-color: #eee;
  }
  &.ico {
    bottom: 4em;
  }
}
